<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page 1 + 2</h1>

    <h3> <%= 1 * 2 %> </h3>
    <h3> <%= ["hello","harsh","namsete"][2]  %> </h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit distinctio natus fuga amet voluptate labore velit quaerat. Veniam pariatur temporibus minima voluptatem soluta laborum, facilis nulla enim eveniet voluptatum, voluptate aut mollitia ad, laudantium explicabo numquam! Illum possimus, nemo omnis accusamus, deserunt id laboriosam ad vitae, dolore amet perferendis odit?</p>

    <button>Click me</button>
</body>
</html>