h2{
    display: inline;
    background-color: aquamarine;
}
span{
    display: block;
    background-color: chartreuse;
}
#mid{
    background-color: brown;
    border: 2px solid black;
    display: inline;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 50px;
    /* padding and margin set only left and right contant */
}
#learn{
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 50px;
    border: 2px solid black;
    background-color: blueviolet;
}